<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.demo.houduan.Mapper.UserMapper">

    <select id="selectByUserName" resultType="org.demo.houduan.Entity.User">
        SELECT * FROM `user`
        WHERE user_name = #{userName}
    </select>

    <insert id="insert" parameterType="org.demo.houduan.Entity.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `user` (user_name, password, nick_name)
        VALUES (#{userName}, #{password}, #{nickName})
    </insert>
</mapper>